# To update the project's gitignore, try at the root directory:
#
#     git config --global core.excludesfile .gitignore
#
# For instructions to untrack existing objects in the project see:
# https://stackoverflow.com/questions/24290358/remove-a-folder-from-git-tracking
# git config core.filemode true
# https://stackoverflow.com/questions/14267441/automatically-apply-git-update-index-chmod-x-to-executable-files

########################
# ParaMonte temp folders
########################

**/.ipynb_checkpoints
./paramonte
**/_draft
**/_site
**/temp
**/bld
**/bin
**/R
**/___*___

######################
# ParaMonte temp files
######################

**/READ_THESE_BUILD_WARNINGS*

___*___.*
