<footer>
    <div class="row">
        {% include socialIcons.html %}
        <div class="col-lg-12 footer">
            &copy;{{ site.time | date: "%Y"  }} <a href="{{site.companyurl}}" target="_blank">{{site.company_name}}</a><br />
            Last updated on {{ site.time | date: "%B %-d, %Y"}}<br/>
            {% comment %}
            {% if page.last_updated %}
                <span>Page last updated:</span>{{page.last_updated}}<br/>
            {% endif %}
            {% endcomment %}
        <p>
            <a href="{{site.companyurl}}" target="_blank"><img class="footerlogo" src="{{ site.baseurl }}/images/logo.png" }}" alt="cdslab.org" /></a>
            {% include sc.html %}
        </p>
        </div>
    </div>
    <!--Mathjax LaTeX engine-->
    {% if page.mathjax %}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            TeX: {
                TagSide: "right",
                TagIndent: ".8em",
                MultLineWidth: "85%",
                equationNumbers: {
                autoNumber: "AMS",
                },
                unicode: {
                fonts: "STIXGeneral,'Arial Unicode MS'" 
                }
            },
            showProcessingMessages: false
        });
    </script>
    <style TYPE="text/css">
        code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
    </style>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] // removed 'code' entry
            }
        });
        MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i = 0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
            }
        });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</footer>
