<!-- hitwebcounter Code START -->
{% comment %}
<div style="text-align:right; color: #ffffff; float: none; width: 100%;">
{% endcomment %}
<div style="text-align:right; float: none; width: 100%; font-size:0.9em; margin-top: -15px">
    <img src="https://hitwebcounter.com/counter/counter.php?page=7807987&style=0007&nbdigits=8&type=page&initCount=155531" title="Free Counter" Alt="web counter"   border="0" />
    <br>
    <span style="color: #ffffff;">
        <script type="text/javascript">
            var sc_project=12178963;
            var sc_invisible=0;
            var sc_security="e0dfe0f9";
            var sc_text=3;
            var scJsHost = "https://";
            document.write("<sc"+"ript type='text/javascript' src='" +
            scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
        </script>
    </span>
</div>